In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools as it
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
def real_date(time):
    return pd.to_datetime(time, format='%m/%d/%Y')

data.release_date = data.release_date.apply(real_date)

data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

ВАРИАНТ 2

In [8]:
data.sort_values(by = ['budget'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
data[data.runtime == data.runtime.max()]
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

In [12]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [13]:
print(data.runtime.mean())
answers['4'] = '2. 110'

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [14]:
print(data.runtime.median())
answers['5'] = '1. 107'

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [15]:
display(data[data.profit == data.profit.max()])
answers['6'] = '5. Avatar (tt0499549)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [16]:
display(data[data.profit == data.profit.min()])
answers['7'] = '5. The Lone Ranger (tt1210819)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [17]:
print(len(data[data.profit > 0]))
answers['8'] = '1. 1478'

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [18]:
display(data[data.revenue == data[data.release_year == 2008].revenue.max()])
answers['9'] = '4. The Dark Knight (tt0468569)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [19]:
display(data[data.profit == data[(data.release_year >= 2012) &
                                (data.release_year <= 2014)].profit.min()])
answers['10'] = '5. The Lone Ranger (tt1210819)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [20]:
genres = pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts(ascending=False)
genres.head(5)

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
dtype: int64

ВАРИАНТ 2

In [21]:
print(np.unique(np.array(data.genres.str.cat(sep = '|').split('|')), return_counts=True))
answers['11'] = '3. Drama'

(array(['Action', 'Adventure', 'Animation', 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Family', 'Fantasy', 'Foreign', 'History',
       'Horror', 'Music', 'Mystery', 'Romance', 'Science Fiction',
       'Thriller', 'War', 'Western'], dtype='<U15'), array([582, 415, 139, 683, 315,   8, 782, 260, 222,   2,  62, 176,  64,
       168, 308, 248, 596,  58,  19]))

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [22]:
profit_gnr = np.unique(np.array(data[data.profit > 0].genres.str.cat(sep = '|').split('|')), return_counts=True)
print(profit_gnr[0][profit_gnr[1].argmax()])
answers['12'] = '1. Drama'

Drama

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [23]:
directors = np.unique(np.array(data.director.str.cat(sep = '|').split('|')))
directors_revenue = dict.fromkeys(directors,0)

for idx, row in data.iterrows():
    for director in directors:
        if director in row['director']:
            directors_revenue[director] += row['revenue']

directors_revenue_sort = list(directors_revenue.items())
directors_revenue_sort.sort(key=lambda i: i[1],reverse = True)

answers['13'] = directors_revenue_sort[0][0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [25]:
action_dir = data[data.genres.str.contains("Action")]

act_dir_list = np.unique(np.array(action_dir.director.str.cat(sep = '|').split('|')))
act_dir = dict.fromkeys(act_dir_list,0)

for idx, row in action_dir.iterrows():
    for director in act_dir_list:
        if director in row['director']:
            act_dir[director] += 1
            
act_dir_sort = list(act_dir.items())
act_dir_sort.sort(key=lambda i: i[1],reverse = True)

answers['14'] = act_dir_sort[0][0]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [26]:
data_12 = data[data.release_year == 2012]

actors_revenue_list = np.unique(np.array(data_12.cast.str.cat(sep = '|').split('|')))
actors_revenue = dict.fromkeys(actors_revenue_list,0)

for idx, row in data_12.iterrows():
    for actor in actors_revenue_list:
        if actor in row['cast']:
            actors_revenue[actor] = actors_revenue[actor] + row['revenue']

actors_revenue_sort = list(actors_revenue.items())
actors_revenue_sort.sort(key=lambda i: i[1],reverse = True)

answers['15'] = actors_revenue_sort[0][0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [27]:
data_high_budget = data[data.budget > data.budget.mean()]

actors_count_list = np.unique(np.array(data_high_budget.cast.str.cat(sep = '|').split('|')))
actors_count = dict.fromkeys(actors_count_list,0)

for idx, row in data_high_budget.iterrows():
    for actor in actors_count_list:
        if actor in row['cast']:
            actors_count[actor] += 1
            
actors_count_sort = list(actors_count.items())
actors_count_sort.sort(key=lambda i: i[1],reverse = True)

answers['16'] = actors_count_sort[0][0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [29]:
nic_cage_film = data[data.cast.str.contains('Nicolas Cage')]

nic_genr_list = np.unique(np.array(data_high_budget.genres.str.cat(sep = '|').split('|')))
nic_genr = dict.fromkeys(nic_genr_list,0)

for idx, row in nic_cage_film.iterrows():
    for genre in nic_genr_list:
        if genre in row['genres']:
            nic_genr[genre] += 1
            
nic_genr_sort = list(nic_genr.items())
nic_genr_sort.sort(key=lambda i: i[1],reverse = True)

answers['17'] = nic_genr_sort[0][0]

# 18. Самый убыточный фильм от Paramount Pictures

In [30]:
par_pic_film = data[data.production_companies.str.contains('Paramount Pictures')]
par_pic_film[par_pic_film.profit == par_pic_film.profit.min()]
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [44]:
display(data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False))
answers['19'] = '2015'

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2010    13531204961
2009    13423744372
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [32]:
war_bros_film = data[data.production_companies.str.contains('Warner Bros')]
display(war_bros_film.groupby(['release_year'])['profit'].sum().sort_values(ascending=False))
answers['20'] = '2014'

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [33]:
data.release_date.dt.month.value_counts(ascending=False)
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [41]:
answers['22'] = str(len(data[(data.release_date.dt.month == 6) | (data.release_date.dt.month == 7) |
     (data.release_date.dt.month == 8)]))

# 23. Для какого режиссера зима – самое продуктивное время года?

In [35]:
directors_winter = dict.fromkeys(directors,0)

for idx, row in data.iterrows():
    for director in directors:
        if director in row['director']:
            if ((row['release_date'].month == 12) |
            (row['release_date'].month == 1) |
            (row['release_date'].month == 2)):
                directors_winter[director] += 1

directors_winter_sort = list(directors_winter.items())
directors_winter_sort.sort(key=lambda i: i[1],reverse = True)

answers['23'] = directors_winter_sort[0][0]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [47]:
films = pd.Series(data['production_companies'].str.cat(sep='|').split('|')).value_counts(ascending=False)

data['overview_words_length'] = data.original_title.apply(lambda x: len(x))

for company in films.index:
    films[company] = data['overview_words_length'][data['production_companies'].apply(lambda x: 
                                                                                      True if company in x 
                                                                                      else False)].mean()
films = pd.DataFrame(films).sort_values(0, ascending=False)
print(films.iloc[0])
answers['24'] = 'Four By Two Productions'

0    83
Name: Four By Two Productions, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [49]:
films = pd.Series(data['production_companies'].str.cat(sep='|').split('|')).value_counts(ascending=False)
data['overview_words_length'] = data.overview.map(lambda x: len(x.split(' ')))
for company in films.index:
    films[company] = data['overview_words_length'][data['production_companies'].map(lambda x:
                                                                                    True if company in x 
                                                                                    else False)].mean()
films = pd.DataFrame(films).sort_values(0, ascending=False)
print(films.iloc[0])
answers['25'] = 'Midnight Picture Show'

0    175
Name: Midnight Picture Show, dtype: int64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [38]:
best_film = data[['original_title', 'vote_average']]
best_film = best_film.sort_values(by='vote_average')
display(best_film.tail(10))
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

                                     original_title  vote_average
119                         Guardians of the Galaxy           7.9
370                                       Inception           7.9
1183                        The Wolf of Wall Street           7.9
138                        The Grand Budapest Hotel           7.9
1081  The Lord of the Rings: The Return of the King           7.9
34                                             Room           8.0
118                                    Interstellar           8.0
9                                        Inside Out           8.0
125                              The Imitation Game           8.0
599                                 The Dark Knight           8.1

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [50]:
pair_actors = pd.Series(dtype = str)

for idx in data.index:
    actors_film = data.loc[idx]['cast']
    pair_actors = pair_actors.append(pd.Series(list(it.combinations(actors_film.split('|'),2)),dtype = str))
    
pair_actors.value_counts(ascending=False)

answers['27'] = 'Daniel Radcliffe, Rupert Grint'

# Submission

In [42]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [43]:
# и убедиться что ни чего не пропустил)
len(answers)

27