In [152]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools as it
from collections import Counter

In [186]:
data = pd.read_csv('movie_bd_v5.csv')
data.head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [7]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [8]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
def real_date(time):
    return pd.to_datetime(time, format='%m/%d/%Y')

data.release_date = data.release_date.apply(real_date)

data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [9]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [10]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

ВАРИАНТ 2

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [12]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [13]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

In [14]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [15]:
print(data.runtime.mean())
answers['4'] = '2. 110'

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [16]:
print(data.runtime.median())
answers['5'] = '1. 107'

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
display(data[data.profit == data.profit.max()])
answers['6'] = '5. Avatar (tt0499549)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [18]:
display(data[data.profit == data.profit.min()])
answers['7'] = '5. The Lone Ranger (tt1210819)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [19]:
print(len(data[data.profit > 0]))
answers['8'] = '1. 1478'

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [20]:
display(data[data.revenue == data[data.release_year == 2008].revenue.max()])
answers['9'] = '4. The Dark Knight (tt0468569)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [21]:
display(data[data.profit == data[(data.release_year >= 2012) &
                                (data.release_year <= 2014)].profit.min()])
answers['10'] = '5. The Lone Ranger (tt1210819)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [23]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   datetime64[ns]
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(8)
memory usage: 221.5+ KB

ВАРИАНТ 2

In [149]:
np.unique(np.array(data.genres.str.cat(sep = '|').split('|')), return_counts=True)
answers['11'] = '3. Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [44]:
tmp = np.unique(np.array(data[data.profit > 0].genres.str.cat(sep = '|').split('|')), return_counts=True)
print(tmp[0][tmp[1].argmax()])
answers['12'] = '1. Drama'

Drama

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [117]:
temp = np.unique(np.array(data.director.str.cat(sep = '|').split('|')))
directors_revenue = dict.fromkeys(temp,0)

for idx, row in data.iterrows():
    for director in temp:
        if director in row['director']:
            directors_revenue[director] += row['revenue']

directors_revenue_sort = list(directors_revenue.items())
directors_revenue_sort.sort(key=lambda i: i[1],reverse = True)

directors_revenue_sort[0][0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [105]:
action_dir = data[data.genres.str.contains("Action")]
temp = np.unique(np.array(action_dir.director.str.cat(sep = '|').split('|')))
act_dir = dict.fromkeys(temp,0)
for idx, row in action_dir.iterrows():
    for director in temp:
        if director in row['director']:
            act_dir[director] += 1
            
act_dir_sort = list(act_dir.items())
act_dir_sort.sort(key=lambda i: i[1],reverse = True)

act_dir_sort[0][0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [99]:
data_12 = data[data.release_year == 2012]
temp = np.unique(np.array(data_12.cast.str.cat(sep = '|').split('|')))
actors_revenue = dict.fromkeys(temp,0)
for idx, row in data_12.iterrows():
    for actor in temp:
        if actor in row['cast']:
            actors_revenue[actor] = actors_revenue[actor] + row['revenue']

actors_revenue_sort = list(actors_revenue.items())
actors_revenue_sort.sort(key=lambda i: i[1],reverse = True)

actors_revenue_sort[0][0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [98]:
data_high_budget = data[data.budget > data.budget.mean()]
temp = np.unique(np.array(data_high_budget.cast.str.cat(sep = '|').split('|')))
actors_count = dict.fromkeys(temp,0)
for idx, row in data_high_budget.iterrows():
    for actor in temp:
        if actor in row['cast']:
            actors_count[actor] += 1
            
actors_count_sort = list(actors_count.items())
actors_count_sort.sort(key=lambda i: i[1],reverse = True)

actors_count_sort[0][0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [110]:
nic_cage_film = data[data.cast.str.contains('Nicolas Cage')]
temp = np.unique(np.array(data_high_budget.genres.str.cat(sep = '|').split('|')))
nic_genr = dict.fromkeys(temp,0)

for idx, row in nic_cage_film.iterrows():
    for genre in temp:
        if genre in row['genres']:
            nic_genr[genre] += 1
            
nic_genr_sort = list(nic_genr.items())
nic_genr_sort.sort(key=lambda i: i[1],reverse = True)

nic_genr_sort[0][0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [119]:
par_pic_film = data[data.production_companies.str.contains('Paramount Pictures')]
par_pic_film[par_pic_film.profit == par_pic_film.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [124]:
data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2010    13531204961
2009    13423744372
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [125]:
war_bros_film = data[data.production_companies.str.contains('Warner Bros')]
war_bros_film.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [128]:
data.release_date.dt.month.value_counts(ascending=False)

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [129]:
data[(data.release_date.dt.month == 6) | (data.release_date.dt.month == 7) |
     (data.release_date.dt.month == 8)].count()

imdb_id                 450
budget                  450
revenue                 450
original_title          450
cast                    450
director                450
tagline                 450
overview                450
runtime                 450
genres                  450
production_companies    450
release_date            450
vote_average            450
release_year            450
profit                  450
dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [133]:
temp = np.unique(np.array(data.director.str.cat(sep = '|').split('|')))
directors_winter = dict.fromkeys(temp,0)

for idx, row in data.iterrows():
    for director in temp:
        if director in row['director']:
            if ((row['release_date'].month == 12) |
            (row['release_date'].month == 1) |
            (row['release_date'].month == 2)):
                directors_winter[director] += 1

directors_winter_sort = list(directors_winter.items())
directors_winter_sort.sort(key=lambda i: i[1],reverse = True)

directors_winter_sort

[('Peter Jackson', 7),
 ('Clint Eastwood', 6),
 ('Steven Soderbergh', 6),
 ('Adam Shankman', 4),
 ('Martin Scorsese', 4),
 ('Nancy Meyers', 4),
 ('Shawn Levy', 4),
 ('Aaron Seltzer', 3),
 ('Donald Petrie', 3),
 ('Edward Zwick', 3),
 ('Jason Friedberg', 3),
 ('Lasse HallstrÃ¶m', 3),
 ('Marc Lawrence', 3),
 ('McG', 3),
 ('Patrick Lussier', 3),
 ('Peter Farrelly', 3),
 ('Ridley Scott', 3),
 ('Rob Marshall', 3),
 ('Steve Carr', 3),
 ('Steven Spielberg', 3),
 ('Tim Burton', 3),
 ('Wayne Wang', 3),
 ('Adam McKay', 2),
 ('Allen Hughes', 2),
 ('Andrzej Bartkowiak', 2),
 ('Andy Tennant', 2),
 ('Bobby Farrelly', 2),
 ('Brad Anderson', 2),
 ('Brett Ratner', 2),
 ('Brian Levant', 2),
 ('Bryan Singer', 2),
 ('Cameron Crowe', 2),
 ('David O. Russell', 2),
 ('David S. Goyer', 2),
 ('David Wain', 2),
 ('Dennis Dugan', 2),
 ('Denzel Washington', 2),
 ('Francis Lawrence', 2),
 ('Gabriele Muccino', 2),
 ('Garry Marshall', 2),
 ('George Clooney', 2),
 ('Glenn Ficarra', 2),
 ('Gregory Hoblit', 2),
 ('Henry Selick', 2),
 ('James L. Brooks', 2),
 ('Jason Reitman', 2),
 ('Jaume Collet-Serra', 2),
 ('Joe Carnahan', 2),
 ('Joel Schumacher', 2),
 ('John Moore', 2),
 ('John Requa', 2),
 ('John Whitesell', 2),
 ('Jon M. Chu', 2),
 ('Ken Kwapis', 2),
 ('Marcus Nispel', 2),
 ('Mark Steven Johnson', 2),
 ('Mark Waters', 2),
 ('Martin Campbell', 2),
 ('Mel Gibson', 2),
 ('Michael Mann', 2),
 ('Mike Nichols', 2),
 ('P.J. Hogan', 2),
 ('Paul McGuigan', 2),
 ('Paul Thomas Anderson', 2),
 ('Peter Segal', 2),
 ('Pierre Morel', 2),
 ('Quentin Tarantino', 2),
 ('Rob Reiner', 2),
 ('Ron Howard', 2),
 ('Scott Cooper', 2),
 ('Shana Feste', 2),
 ('Simon West', 2),
 ('Spike Jonze', 2),
 ('Stephen Daldry', 2),
 ('Sylvester Stallone', 2),
 ('Thomas Carter', 2),
 ('Walter Hill', 2),
 ('Wes Anderson', 2),
 ('Wes Craven', 2),
 ('Akiva Goldsman', 1),
 ('Alan Parker', 1),
 ('Albert Hughes', 1),
 ('Alejandro GonzÃ¡lez IÃ±Ã¡rritu', 1),
 ('Alex Garland', 1),
 ('Alexander Payne', 1),
 ('Alister Grierson', 1),
 ('Anand Tucker', 1),
 ('Andrew Adamson', 1),
 ('Andrew Davis', 1),
 ('Andy Fickman', 1),
 ('Andy Muschietti', 1),
 ('Angelina Jolie', 1),
 ('Anne Fletcher', 1),
 ('Anthony Hemingway', 1),
 ('Anthony Minghella', 1),
 ('Antoine Fuqua', 1),
 ('Ari Sandel', 1),
 ('Asger Leth', 1),
 ('Ava DuVernay', 1),
 ('Baltasar KormÃ¡kur', 1),
 ('Barry Cook', 1),
 ('Ben Garant', 1),
 ('Ben Stiller', 1),
 ('Ben Younger', 1),
 ('Benny Chan', 1),
 ('Betty Thomas', 1),
 ('Bill Condon', 1),
 ('BjÃ¶rn Stein', 1),
 ('Brad Bird', 1),
 ('Brad Peyton', 1),
 ('Brad Silberling', 1),
 ('Breck Eisner', 1),
 ('Brian Robbins', 1),
 ('Brian Taylor', 1),
 ('Callan Brunker', 1),
 ('Carl Rinsch', 1),
 ('Charles Stone III', 1),
 ('Chris Columbus', 1),
 ('Chris Gorak', 1),
 ('Chris Koch', 1),
 ('Chris Noonan', 1),
 ('Chris Weitz', 1),
 ('Christian E. Christiansen', 1),
 ('Christopher B. Landon', 1),
 ('Christopher McQuarrie', 1),
 ('Christopher Miller', 1),
 ('Christopher Spencer', 1),
 ('Clare Kilner', 1),
 ('Cory Edwards', 1),
 ('Courtney Solomon', 1),
 ('Craig Brewer', 1),
 ('D.J. Caruso', 1),
 ('Daniel Barnz', 1),
 ('Daniel Espinosa', 1),
 ('Danny Boyle', 1),
 ('Danny Leiner', 1),
 ('Darren Aronofsky', 1),
 ('Dave Meyers', 1),
 ('David Dobkin', 1),
 ('David Fincher', 1),
 ('David Frankel', 1),
 ('David Gordon Green', 1),
 ('David Koepp', 1),
 ('David Leland', 1),
 ('David Moreau', 1),
 ('David R. Ellis', 1),
 ('David Twohy', 1),
 ('Dean Israelite', 1),
 ('Dean Parisot', 1),
 ('Demian Lichtenstein', 1),
 ('Dewey Nicks', 1),
 ('Diane Keaton', 1),
 ('Dominic Sena', 1),
 ('Donovan Cook', 1),
 ('Doug Liman', 1),
 ('Ed Gass-Donnelly', 1),
 ('Elizabeth Banks', 1),
 ('Eric Bress', 1),
 ('Eric Brevig', 1),
 ('Ericson Core', 1),
 ('Ethan Coen', 1),
 ('Evan Goldberg', 1),
 ('Florian Henckel von Donnersmarck', 1),
 ('Francine McDougall', 1),
 ('Frank Darabont', 1),
 ('Frank Marshall', 1),
 ('Frank Miller', 1),
 ('Frederik Du Chau', 1),
 ('Garth Jennings', 1),
 ('Gary Winick', 1),
 ("Gavin O'Connor", 1),
 ('Geoffrey Sax', 1),
 ('George Armitage', 1),
 ('Giuseppe Tornatore', 1),
 ('Glen Morgan', 1),
 ('Greg Mottola', 1),
 ('Griffin Dunne', 1),
 ('GrÃ©gory Levasseur', 1),
 ('Gus Van Sant', 1),
 ('Guy Ferland', 1),
 ('Guy Ritchie', 1),
 ('GÃ¡bor CsupÃ³', 1),
 ('Harmony Korine', 1),
 ('Iain Softley', 1),
 ('Ivan Reitman', 1),
 ('J. Mackye Gruber', 1),
 ('J.C. Chandor', 1),
 ('J.J. Abrams', 1),
 ('Jack Sholder', 1),
 ('Jake Kasdan', 1),
 ('James Cameron', 1),
 ('James Duffy', 1),
 ('James Gunn', 1),
 ('James McTeigue', 1),
 ('James Watkins', 1),
 ('James Wong', 1),
 ('Jason Moore', 1),
 ('Jay Chandrasekhar', 1),
 ('Jay Roach', 1),
 ('Jay Russell', 1),
 ('Jean-FranÃ§ois Richet', 1),
 ('Jeff Schaffer', 1),
 ('Jeremy Garelick', 1),
 ('Jesse Dylan', 1),
 ('Jessie Nelson', 1),
 ('Jim Gillespie', 1),
 ('Jim Sheridan', 1),
 ('Joe Roth', 1),
 ('Joel Coen', 1),
 ('Joel Gallen', 1),
 ('Joel Zwick', 1),
 ('John A. Davis', 1),
 ('John Boorman', 1),
 ('John Erick Dowdle', 1),
 ('John Frankenheimer', 1),
 ('John Hamburg', 1),
 ('John Luessenhop', 1),
 ('John Musker', 1),
 ('John Polson', 1),
 ('John Wells', 1),
 ('John Woo', 1),
 ('Jon Avnet', 1),
 ('Jon Turteltaub', 1),
 ('Jonas Elmer', 1),
 ('Jonathan Levine', 1),
 ('Jonathan Lynn', 1),
 ('Jonathan Teplitzky', 1),
 ('Jonathan van Tulleken', 1),
 ('Joseph Kahn', 1),
 ('Joseph Kosinski', 1),
 ('Josh Trank', 1),
 ('JosÃ© Padilha', 1),
 ('Judd Apatow', 1),
 ('Julie Anne Robinson', 1),
 ('Justin Chadwick', 1),
 ('Justin Lin', 1),
 ('Kathryn Bigelow', 1),
 ('Kelly Asbury', 1),
 ('Kenneth Branagh', 1),
 ('Kevin Allen', 1),
 ('Kevin Macdonald', 1),
 ('Kevin Rodney Sullivan', 1),
 ('Kevin Smith', 1),
 ('Kurt Wimmer', 1),
 ('Lana Wachowski', 1),
 ('Lee Tamahori', 1),
 ('Len Wiseman', 1),
 ('Lexi Alexander', 1),
 ('Lilly Wachowski', 1),
 ('Louis Leterrier', 1),
 ('Malcolm D. Lee', 1),
 ('Mark Dindal', 1),
 ('Mark Neveldine', 1),
 ('Mark Pellington', 1),
 ('Martin McDonagh', 1),
 ('Matt Bettinelli-Olpin', 1),
 ('Matt Reeves', 1),
 ("Matthew O'Callaghan", 1),
 ('Matthew Vaughn', 1),
 ('Mennan Yapo', 1),
 ('Michael Lembeck', 1),
 ('Michael Rymer', 1),
 ('Michael Spierig', 1),
 ('Michael Sucsy', 1),
 ('Michael Winterbottom', 1),
 ('Michel Gondry', 1),
 ('Miguel Arteta', 1),
 ('Mikael HÃ¥fstrÃ¶m', 1),
 ('Mike Binder', 1),
 ('Mike McCoy', 1),
 ('Mike Mitchell', 1),
 ('MÃ¥ns MÃ¥rlind', 1),
 ('Neil Marshall', 1),
 ('Neil Nightingale', 1),
 ('Nick Cassavetes', 1),
 ('Nick Hurran', 1),
 ('Nicolas Winding Refn', 1),
 ('Niki Caro', 1),
 ('NimrÃ³d Antal', 1),
 ('Olivier Megaton', 1),
 ("Pat O'Connor", 1),
 ('Patrick Tatopoulos', 1),
 ('Patrik Forsberg', 1),
 ('Paul Tibbitt', 1),
 ('Paul W.S. Anderson', 1),
 ('Paul Weitz', 1),
 ('Pete Travis', 1),
 ('Peter Berg', 1),
 ('Peter Howitt', 1),
 ('Peter Spierig', 1),
 ('Peter Webber', 1),
 ('Peyton Reed', 1),
 ('Phil Lord', 1),
 ('Philip Kaufman', 1),
 ('Phyllida Lloyd', 1),
 ('Rajkumar Hirani', 1),
 ('Renny Harlin', 1),
 ('Ric Roman Waugh', 1),
 ('Richard Eyre', 1),
 ('Richard LaGravenese', 1),
 ('Richard Loncraine', 1),
 ('Rob Bowman', 1),
 ('Rob Letterman', 1),
 ('Rob Minkoff', 1),
 ('Robert De Niro', 1),
 ('Robert Zemeckis', 1),
 ('Robin Budd', 1),
 ('Rodrigo GarcÃ\xada', 1),
 ('Roger Donaldson', 1),
 ('Roger Michell', 1),
 ('Roland Emmerich', 1),
 ('Roman Polanski', 1),
 ('Ron Clements', 1),
 ('Ron Shelton', 1),
 ('Ronald F. Maxwell', 1),
 ('Ruben Fleischer', 1),
 ('Rupert Wyatt', 1),
 ('Russell Crowe', 1),
 ('Rusty Cundieff', 1),
 ('Sam Mendes', 1),
 ('Sam Raimi', 1),
 ('Sam Taylor-Johnson', 1),
 ('Sara Sugarman', 1),
 ('Scott Derrickson', 1),
 ('Scott Stewart', 1),
 ('Scott Waugh', 1),
 ('Sean Anders', 1),
 ('Sergey Bodrov', 1),
 ('Seth Gordon', 1),
 ('Seth Rogen', 1),
 ('Stefen Fangmeier', 1),
 ('Stephen Kay', 1),
 ('Steve Pink', 1),
 ('Steve Trenbirth', 1),
 ('Steven Brill', 1),
 ('Stuart Baird', 1),
 ('Stuart Beattie', 1),
 ('Tamra Davis', 1),
 ('Taylor Hackford', 1),
 ('Thor Freudenthal', 1),
 ('Tim Hill', 1),
 ('Tim Story', 1),
 ('Todd Edwards', 1),
 ('Todd Phillips', 1),
 ('Tom Gormican', 1),
 ('Tom Hooper', 1),
 ('Tom Shadyac', 1),
 ('Tom Tykwer', 1),
 ('Tom Vaughan', 1),
 ('Tommy Wirkola', 1),
 ('Tony Leech', 1),
 ('Tyler Gillett', 1),
 ('Tyler Perry', 1),
 ('Uwe Boll', 1),
 ('Wayne Kramer', 1),
 ('Will Gluck', 1),
 ('Will Graham', 1),
 ('Xavier Palud', 1),
 ('Adam Wingard', 0),
 ('Adrian Lyne', 0),
 ('Alan Poul', 0),
 ('Alan Taylor', 0),
 ('Alastair Fothergill', 0),
 ('Alejandro Agresti', 0),
 ('Alejandro AmenÃ¡bar', 0),
 ('Alejandro Monteverde', 0),
 ('Aleksander Bach', 0),
 ('Alex Kurtzman', 0),
 ('Alex Proyas', 0),
 ('Alexander Witt', 0),
 ('Alexandre Aja', 0),
 ('Alfonso CuarÃ³n', 0),
 ('Amma Asante', 0),
 ('Amy Heckerling', 0),
 ('Andrew Dominik', 0),
 ('Andrew Douglas', 0),
 ('Andrew Erwin', 0),
 ('Andrew Niccol', 0),
 ('Andrew Stanton', 0),
 ('Ang Lee', 0),
 ('Angela Robinson', 0),
 ('Anthony Bell', 0),
 ('Anthony Leondis', 0),
 ('Anthony Russo', 0),
 ('Anthony Silverston', 0),
 ('Anthony Stacchi', 0),
 ('Antony Hoffman', 0),
 ('Ariel Schulman', 0),
 ('Ash Brannon', 0),
 ('Asif Kapadia', 0),
 ('Atom Egoyan', 0),
 ('Barbet Schroeder', 0),
 ('Barry Levinson', 0),
 ('Barry Sonnenfeld', 0),
 ('Baz Luhrmann', 0),
 ('Beeban Kidron', 0),
 ('Ben Affleck', 0),
 ('Ben Falcone', 0),
 ('Ben Gluck', 0),
 ('Bennett Miller', 0),
 ('Benson Lee', 0),
 ('Bibo Bergeron', 0),
 ('Bill Paxton', 0),
 ('Bille Woodruff', 0),
 ('Billy Ray', 0),
 ('Boaz Yakin', 0),
 ('Bob Peterson', 0),
 ('Bonnie Hunt', 0),
 ('Brad Furman', 0),
 ('Brad Lewis', 0),
 ('Brandon Camp', 0),
 ('Brenda Chapman', 0),
 ('Brendan Malloy', 0),
 ('Brian A Miller', 0),
 ('Brian De Palma', 0),
 ('Brian Helgeland', 0),
 ('Brian Klugman', 0),
 ('Brian Koppelman', 0),
 ('Bruce A. Evans', 0),
 ('Bruce Beresford', 0),
 ('Bruce Hunt', 0),
 ('Bruce Robinson', 0),
 ('Bryan Bertino', 0),
 ('Burr Steers', 0),
 ('Byron Howard', 0),
 ('Camille Delamarre', 0),
 ('Carl Franklin', 0),
 ('Carlos Saldanha', 0),
 ('Catherine Hardwicke', 0),
 ('Chad Stahelski', 0),
 ('Charles Herman-Wurmfeld', 0),
 ('Charles Martin Smith', 0),
 ('Charles Shyer', 0),
 ('Chris Buck', 0),
 ('Chris Butler', 0),
 ('Chris Carter', 0),
 ('Chris Miller', 0),
 ('Chris Nahon', 0),
 ('Chris Renaud', 0),
 ('Chris Rock', 0),
 ('Chris Sanders', 0),
 ('Chris Sivertson', 0),
 ('Chris Wedge', 0),
 ('Chris Williams', 0),
 ('Christian Alvart', 0),
 ('Christian Duguay', 0),
 ('Christine Jeffs', 0),
 ('Christophe Gans', 0),
 ('Christopher Erskin', 0),
 ('Christopher Guest', 0),
 ('Christopher Nolan', 0),
 ('Chuck Russell', 0),
 ('Ciaran Foy', 0),
 ('Clark Johnson', 0),
 ('Cody Cameron', 0),
 ('Colin Strause', 0),
 ('Colin Trevorrow', 0),
 ('Conrad Vernon', 0),
 ('Corey Yuen Kwai', 0),
 ('Craig Gillespie', 0),
 ('Craig Mazin', 0),
 ('Curtis Hanson', 0),
 ('DJ Pooh', 0),
 ('Dan Bradley', 0),
 ('Dan Cutforth', 0),
 ('Dan Gilroy', 0),
 ('Dan Rush', 0),
 ('Dan Scanlon', 0),
 ('Dan St. Pierre', 0),
 ('Daniel Barber', 0),
 ('Daniel Sackheim', 0),
 ('Danny Cannon', 0),
 ('Danny Pang', 0),
 ('Darren Lynn Bousman', 0),
 ('Dave Green', 0),
 ('David Ayer', 0),
 ('David Barrett', 0),
 ('David Bowers', 0),
 ('David Cronenberg', 0),
 ('David E. Talbert', 0),
 ('David Hackl', 0),
 ('David Leitch', 0),
 ('David Levien', 0),
 ('David Lynch', 0),
 ('David M. Rosenthal', 0),
 ('David Mackenzie', 0),
 ('David Mamet', 0),
 ('David McNally', 0),
 ('David MichÃ´d', 0),
 ('David Raynr', 0),
 ('David Schwimmer', 0),
 ('David Silverman', 0),
 ('David Slade', 0),
 ('David Soren', 0),
 ('David Yates', 0),
 ('David Zucker', 0),
 ('Davis Guggenheim', 0),
 ('Dean DeBlois', 0),
 ('Dean Wright', 0),
 ('Denis Villeneuve', 0),
 ('Dennie Gordon', 0),
 ('Derek Cianfrance', 0),
 ('Derrick Borte', 0),
 ('Des McAnuff', 0),
 ('Dito Montiel', 0),
 ('Don Bluth', 0),
 ('Don Hall', 0),
 ('Don Mancini', 0),
 ('Don McKellar', 0),
 ('Don Michael Paul', 0),
 ('Don Scardino', 0),
 ('Doug Atchison', 0),
 ('Doug Ellin', 0),
 ('Doug Lefler', 0),
 ('Douglas Aarniokoski', 0),
 ('Douglas McGrath', 0),
 ('Drew Goddard', 0),
 ('Duncan Jones', 0),
 ('Dustin Hoffman', 0),
 ('E. Elias Merhige', 0),
 ('Edgar Wright', 0),
 ('Edward Norton', 0),
 ('Eli Roth', 0),
 ('Elizabeth Allen Rosenbaum', 0),
 ('Emmett Malloy', 0),
 ('Eric Darnell', 0),
 ('Eric Leighton', 0),
 ('Ernest R. Dickerson', 0),
 ('Etan Cohen', 0),
 ('Ethan Maniquis', 0),
 ('F. Gary Gray', 0),
 ('Fede Alvarez', 0),
 ('Feng Xiaogang', 0),
 ('Fernando Meirelles', 0),
 ('Florent-Emilio Siri', 0),
 ('Floria Sigismondi', 0),
 ('Frank Coraci', 0),
 ('Frank Oz', 0),
 ('FranÃ§ois Ozon', 0),
 ('Fred Savage', 0),
 ('Fred Wolf', 0),
 ('Fyodor Bondarchuk', 0),
 ('Gareth Edwards', 0),
 ('Gary Chapman', 0),
 ('Gary Fleder', 0),
 ('Gary Goldman', 0),
 ('Gary McKendry', 0),
 ('Gary Ross', 0),
 ('Gary Shore', 0),
 ('Gary Trousdale', 0),
 ('Gavin Hood', 0),
 ('Genndy Tartakovsky', 0),
 ('George A. Romero', 0),
 ('George Lucas', 0),
 ('George Miller', 0),
 ('George Nolfi', 0),
 ('George Tillman, Jr.', 0),
 ('Gil Kenan', 0),
 ('Gina Prince-Bythewood', 0),
 ('Gonzalo LÃ³pez-Gallego', 0),
 ('Gore Verbinski', 0),
 ('Graham Annable', 0),
 ('Grant Heslov', 0),
 ('Greg Berlanti', 0),
 ('Greg Coolidge', 0),
 ('Greg Strause', 0),
 ('Gregory Jacobs', 0),
 ('Gregory Plotkin', 0),
 ('Gregory Poirier', 0),
 ('Guillaume Canet', 0),
 ('Guillermo del Toro', 0),
 ('Harald Zwart', 0),
 ('Harold Becker', 0),
 ('Harold Cronk', 0),
 ('Harold Ramis', 0),
 ('Hayden Schlossberg', 0),
 ('Henry Alex Rubin', 0),
 ('Henry Joost', 0),
 ('Hironobu Sakaguchi', 0),
 ('Howard Deutch', 0),
 ('Howard McCain', 0),
 ('Hoyt Yeatman', 0),
 ('Ilya Naishuller', 0),
 ('J.B. Rogers', 0),
 ('Jaco Van Dormael', 0),
 ('Jake Schreier', 0),
 ('James Bobin', 0),
 ('James Cox', 0),
 ('James DeMonaco', 0),
 ('James Foley', 0),
 ('James Gray', 0),
 ('James Isaac', 0),
 ('James Mangold', 0),
 ('James Marsh', 0),
 ('James Mather', 0),
 ('James Wan', 0),
 ('Jan Pinkava', 0),
 ('Jan de Bont', 0),
 ('Jane Campion', 0),
 ('Jane Lipsitz', 0),
 ('Jared Hess', 0),
 ('Jason Eisener', 0),
 ('Jason Winer', 0),
 ('Javier Abad', 0),
 ('Jay Duplass', 0),
 ('Jean-Jacques Annaud', 0),
 ('Jean-Marc VallÃ©e', 0),
 ('Jeff Newitt', 0),
 ('Jeff Nichols', 0),
 ('Jeff Tremaine', 0),
 ('Jeff Wadlow', 0),
 ('Jennifer Flackett', 0),
 ('Jennifer Lee', 0),
 ('Jennifer Yuh', 0),
 ('Jerry Zucker', 0),
 ('Jesse Peretz', 0),
 ('Jill Culton', 0),
 ('Jim Fall', 0),
 ('Jim Field Smith', 0),
 ('Jim Jarmusch', 0),
 ('Jim Sonzero', 0),
 ('Jimmy Hayward', 0),
 ('Joby Harold', 0),
 ('Jocelyn Moorhouse', 0),
 ('Joe Cornish', 0),
 ('Joe Dante', 0),
 ('Joe Johnston', 0),
 ('Joe Nussbaum', 0),
 ('Joe Ranft', 0),
 ('Joe Russo', 0),
 ('Joe Wright', 0),
 ('Joel Edgerton', 0),
 ('John Bonito', 0),
 ('John Carney', 0),
 ('John Carpenter', 0),
 ('John Crowley', 0),
 ('John Curran', 0),
 ('John Dahl', 0),
 ('John Francis Daley', 0),
 ('John Gulager', 0),
 ('John Herzfeld', 0),
 ('John Hillcoat', 0),
 ('John Landis', 0),
 ('John Lasseter', 0),
 ('John Lee Hancock', 0),
 ('John Madden', 0),
 ('John Maybury', 0),
 ('John McTiernan', 0),
 ('John Michael McDonagh', 0),
 ('John Patrick Shanley', 0),
 ('John R. Leonetti', 0),
 ('John Sanford', 0),
 ('John Schultz', 0),
 ('John Singleton', 0),
 ('John Stevenson', 0),
 ('John Stockwell', 0),
 ('Jon Amiel', 0),
 ('Jon Erwin', 0),
 ('Jon Favreau', 0),
 ('Jon Hurwitz', 0),
 ('Jon Kasdan', 0),
 ('Jon Lucas', 0),
 ('Jonathan Dayton', 0),
 ('Jonathan Demme', 0),
 ('Jonathan Frakes', 0),
 ('Jonathan Glazer', 0),
 ('Jonathan Hensleigh', 0),
 ('Jonathan Liebesman', 0),
 ('Jonathan M. Goldstein', 0),
 ('Jonathan Mostow', 0),
 ('Jorge Blanco', 0),
 ('Jorma Taccone', 0),
 ('Joseph Ruben', 0),
 ('Josh Boone', 0),
 ('Josh Gordon', 0),
 ('Josh Schwartz', 0),
 ('Joshua Michael Stern', 0),
 ('Joss Whedon', 0),
 ('Juan Antonio Bayona', 0),
 ('Juan Carlos Fresnadillo', 0),
 ('Juan Diego Solanas', 0),
 ('Julian Jarrold', 0),
 ('Julie Taymor', 0),
 ('Justin Zackham', 0),
 ('Karey Kirkpatrick', 0),
 ('Karyn Kusama', 0),
 ('Kasi Lemmons', 0),
 ('Keanu Reeves', 0),
 ('Keenen Ivory Wayans', 0),
 ('Ken Scott', 0),
 ('Kerry Conran', 0),
 ('Kevin Bray', 0),
 ('Kevin Costner', 0),
 ('Kevin Greutert', 0),
 ('Kevin Lima', 0),
 ('Kevin Munroe', 0),
 ('Kevin Reynolds', 0),
 ('Kimberly Peirce', 0),
 ('Kirk De Micco', 0),
 ('Kirk Jones', 0),
 ('Kirk Wise', 0),
 ('Kirsten Sheridan', 0),
 ('Klay Hall', 0),
 ('Kris Pearn', 0),
 ('Kyle Balda', 0),
 ('Larry Charles', 0),
 ('Lars von Trier', 0),
 ('Lawrence Guterman', 0),
 ('Lawrence Kasdan', 0),
 ('Lee Daniels', 0),
 ('Lee Sternthal', 0),
 ('Lee Toland Krieger', 0),
 ('Lee Unkrich', 0),
 ('Leigh Whannell', 0),
 ('Lenny Abrahamson', 0),
 ('Les Mayfield', 0),
 ('Liam Lynch', 0),
 ('Liev Schreiber', 0),
 ('Liz Friedlander', 0),
 ('Lone Scherfig', 0),
 ('Lorna Cook', 0),
 ('Loveleen Tandan', 0),
 ('Luc Besson', 0),
 ('Luis Mandoki', 0),
 ('Luke Greenfield', 0),
 ('M. Night Shyamalan', 0),
 ('Mabrouk El Mechri', 0),
 ('Marc Forster', 0),
 ('Marc Webb', 0),
 ('Marcel Langenegger', 0),
 ('Marco Schnabel', 0),
 ('Marcos MartÃ\xadnez', 0),
 ('Marcus Raboy', 0),
 ('Mark Andrews', 0),
 ('Mark Duplass', 0),
 ('Mark Helfrich', 0),
 ('Mark Herman', 0),
 ('Mark Levin', 0),
 ('Mark Linfield', 0),
 ('Mark Mylod', 0),
 ('Mark Osborne', 0),
 ('Mark Romanek', 0),
 ('Mark Rosman', 0),
 ('Martin Brest', 0),
 ('Mary Harron', 0),
 ('Mary Lambert', 0),
 ('Mathieu Kassovitz', 0),
 ('Matthew Robinson', 0),
 ('Matthijs van Heijningen Jr.', 0),
 ('Max Joseph', 0),
 ('Michael Apted', 0),
 ('Michael Bay', 0),
 ('Michael Caton-Jones', 0),
 ('Michael Cristofer', 0),
 ('Michael Cuesta', 0),
 ('Michael Davis', 0),
 ('Michael Dougherty', 0),
 ('Michael Dowse', 0),
 ('Michael Haneke', 0),
 ('Michael Hoffman', 0),
 ('Michael J. Bassett', 0),
 ('Michael McCullers', 0),
 ('Michael Moore', 0),
 ('Michael Patrick King', 0),
 ('Michel Hazanavicius', 0),
 ('Miguel Sapochnik', 0),
 ('Mike Disa', 0),
 ('Mike Flanagan', 0),
 ('Mike Johnson', 0),
 ('Mike Judge', 0),
 ('Mike Newell', 0),
 ('Mike Thurmeier', 0),
 ('Mike Tollin', 0),
 ('Mimi Leder', 0),
 ('Mira Nair', 0),
 ('Mort Nathan', 0),
 ('Morten Tyldum', 0),
 ('Motonori Sakakibara', 0),
 ('Nanette Burstein', 0),
 ('Nathan Greno', 0),
 ('Neil Burger', 0),
 ('Neil LaBute', 0),
 ('Neill Blomkamp', 0),
 ('Nicholas Hytner', 0),
 ('Nicholas Jarecki', 0),
 ('Nicholas Stoller', 0),
 ('Nick Hamm', 0),
 ('Nick Park', 0),
 ('Nigel Cole', 0),
 ('Nima Nourizadeh', 0),
 ('Noah Baumbach', 0),
 ('Noam Murro', 0),
 ('Nora Ephron', 0),
 ('Olatunde Osunsanmi', 0),
 ('Ole Bornedal', 0),
 ('Oliver Hirschbiegel', 0),
 ('Oliver Parker', 0),
 ('Oliver Stone', 0),
 ('Oxide Pang Chun', 0),
 ('Paolo Sorrentino', 0),
 ('Patrick Hughes', 0),
 ('Patty Jenkins', 0),
 ('Paul Abascal', 0),
 ('Paul Feig', 0),
 ('Paul Greengrass', 0),
 ('Paul Haggis', 0),
 ('Paul Johansson', 0),
 ('Paul King', 0),
 ('Paul Schrader', 0),
 ('Paul Verhoeven', 0),
 ('Paul Weiland', 0),
 ('Penny Marshall', 0),
 ('Pete Docter', 0),
 ('Peter Billingsley', 0),
 ('Peter Bogdanovich', 0),
 ('Peter Cattaneo', 0),
 ('Peter Chelsom', 0),
 ('Peter Hedges', 0),
 ('Peter Hewitt', 0),
 ('Peter Hyams', 0),
 ('Peter Landesman', 0),
 ('Peter Lord', 0),
 ('Peter Ramsey', 0),
 ('Peter Sohn', 0),
 ('Peter Sollett', 0),
 ('Peter Weir', 0),
 ('Phil Joanou', 0),
 ('Phil Traill', 0),
 ('Philip G. Atwell', 0),
 ('Phillip Noyce', 0),
 ('Pierre Coffin', 0),
 ('Pitof', 0),
 ('R.J. Cutler', 0),
 ('Rachid Bouchareb', 0),
 ('Raja Gosnell', 0),
 ('Ralph Zondag', 0),
 ('Raman Hui', 0),
 ('Randall Wallace', 0),
 ('Rawson Marshall Thurber', 0),
 ('Reginald Hudlin', 0),
 ('Rian Johnson', 0),
 ('Rich Moore', 0),
 ('Richard Curtis', 0),
 ('Richard Donner', 0),
 ('Richard J. Lewis', 0),
 ('Richard Kelly', 0),
 ('Richard Linklater', 0),
 ('Richard Shepard', 0),
 ('Rick Rosenthal', 0),
 ('Ricky Gervais', 0),
 ('Rob Cohen', 0),
 ('Rob Pritts', 0),
 ('Rob Schmidt', 0),
 ('Rob Thomas', 0),
 ('Rob Zombie', 0),
 ('Robert Altman', 0),
 ('Robert B. Weide', 0),
 ('Robert Iscove', 0),
 ('Robert Luketic', 0),
 ('Robert Pulcini', 0),
 ('Robert Redford', 0),
 ('Robert Rodriguez', 0),
 ('Robert Schwentke', 0),

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [140]:
films = pd.Series(data['production_companies'].str.cat(sep='|').split('|')).value_counts(ascending=False)
data['overview_words_length'] = data.original_title.map(lambda x: len(x))
for company in films.index:
    films[company] = data['overview_words_length'][data['production_companies'].map(lambda x: True if company in x else False)].mean()
films = pd.DataFrame(films).sort_values(0, ascending=False)
films

                             0
Four By Two Productions     83
Jim Henson Company, The     59
Dos Corazones               47
Museum Canada Productions   46
Polsky Films                46
...                         ..
Everest Entertainment        3
Berlanti Productions         3
XM2 Productions              2
Global Entertainment Group   2
Ixtlan Productions           2

[1771 rows x 1 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [139]:
films = pd.Series(data['production_companies'].str.cat(sep='|').split('|')).value_counts(ascending=False)
data['overview_words_length'] = data.overview.map(lambda x: len(x.split(' ')))
for company in films.index:
    films[company] = data['overview_words_length'][data['production_companies'].map(lambda x: True if company in x else False)].mean()
films = pd.DataFrame(films).sort_values(0, ascending=False)
films

                                                  0
Midnight Picture Show                           175
Heineken Branded Entertainment                  161
Room 9 Entertainment                            161
98 MPH Productions                              159
Brookwell-McNamara Entertainment                156
...                                             ...
London Boulevard                                 13
Henceforth                                       13
TDJ Enterprises / New Dimensions Entertainment   13
Empire Pictures                                  11
Motion Picture Corporation of America            11

[1771 rows x 1 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [146]:
best_film = data[['original_title', 'vote_average']]
best_film = best_film.sort_values(by='vote_average')
best_film.tail(10)

                                     original_title  vote_average
119                         Guardians of the Galaxy           7.9
370                                       Inception           7.9
1183                        The Wolf of Wall Street           7.9
138                        The Grand Budapest Hotel           7.9
1081  The Lord of the Rings: The Return of the King           7.9
34                                             Room           8.0
118                                    Interstellar           8.0
9                                        Inside Out           8.0
125                              The Imitation Game           8.0
599                                 The Dark Knight           8.1

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [214]:
pair_actors = pd.Series(dtype = str)
for idx in data.index:
    actors_film = data.loc[idx]['cast']
    
    pair_actors = pair_actors.append(pd.Series(list(it.combinations(actors_film.split('|'),2)),dtype = str))
pair_actors.value_counts(ascending=False)

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Rupert Grint, Emma Watson)            7
(Johnny Depp, Helena Bonham Carter)    6
(Ben Stiller, Owen Wilson)             6
                                      ..
(Milla Jovovich, Hakeem Kae-Kazim)     1
(Kurt Russell, Jason Lee)              1
(Lisa Kudrow, Adam Arkin)              1
(Matt McKenna, John Cleese)            1
(Bradley Cooper, Bill Murray)          1
Length: 18121, dtype: int64

# Submission

In [150]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '11': '3. Drama'}

In [151]:
# и убедиться что ни чего не пропустил)
len(answers)

13

In [205]:
s =data.loc[0]['cast']
pd.Series(list(it.combinations(s.split('|'),2)))

0          (Chris Pratt, Bryce Dallas Howard)
1                  (Chris Pratt, Irrfan Khan)
2            (Chris Pratt, Vincent D'Onofrio)
3                (Chris Pratt, Nick Robinson)
4          (Bryce Dallas Howard, Irrfan Khan)
5    (Bryce Dallas Howard, Vincent D'Onofrio)
6        (Bryce Dallas Howard, Nick Robinson)
7            (Irrfan Khan, Vincent D'Onofrio)
8                (Irrfan Khan, Nick Robinson)
9          (Vincent D'Onofrio, Nick Robinson)
dtype: object